<div class="col-xxl-12">

  <div class="login-image">
    <img class="background-image-login" src="../../assets/imagenFondo.jpeg" alt="">
  </div>


    <div class="login-wrap" style="margin: none;">
      <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab"></label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
        <form [formGroup]="loginForm" class="login-form">
          <div class="sign-in-htm">
            <div class="group">
              <label for="user" class="label">Correo electrónico</label>
              <input id="user" type="text" class="input" formControlName="email">
              <div *ngIf="loginForm.get('email').invalid
              &&(loginForm.get('email').touched)">
                <div *ngIf="loginForm.get('email').errors.required">
                  <p class="login-alert">El campo es obligatorio</p>
                </div>
                <div *ngIf="loginForm.get('email').errors.pattern">
                  <p class="login-alert">No es un email valido </p>

                </div>
              </div>
            </div>
            <div class="group">
              <label for="pass" class="label">Contraseña</label>
              <input id="pass" type="password" class="input" data-type="password" formControlName="password">
              <div *ngIf="loginForm.get('password').invalid
              &&(loginForm.get('password').touched)">
                <div *ngIf="loginForm.get('password').errors.required">
                  <p class="login-alert">El campo es obligatorio</p>
                </div>
                <div *ngIf="loginForm.get('password').errors.minlength">
                  <p class="login-alert"> Son minimo 08 caracteres</p>
                </div>

              </div>
            </div>
            <div class="group">
              <input id="check" type="checkbox" class="check" checked formControlName="remmemberMe">
              <label for="check" style="color: #504C4C;"><span class="icon"></span>Recordar Mi Sesión</label>
            </div>
            <div class="group">
              <button type="submit" class="button" [disabled]="loginForm.invalid" routerLink="//main-map">Ingresar
              </button>
            </div>
            <div class="hr"></div>
            <div class="foot-lnk">
              <a href="#forgot">Olvidé mi contraseña</a>
              <hr>

            </div>
          </div>
        </form>
      </div>
    </div>


</div>
