#Header-container
    background #46A1F1

.nav-tool
  color: black
  text-align: right

.nav-tool-link
  color: black
  text-align: right

.footer
  background-color: #5A6168
  text-align: center
  color: white

.contactanos
  text-align: left
