<nav id="Header-container">
  <div class="pr-4 pl-4">
    <div class="d-flex justify-content-between header">
      <div class="">
        <a class="navbar-brand Safi-title" href="#">Solfix</a>
      </div>
      <div class="">
        <ul class="navbar-nav text-rigth Nav-main">
          <li class="nav-tool">
            <a class="nav-tool-link">Sebastian Carvajal</a>
          </li>
          <li class="nav-tool">
            <a class="nav-tool-link">usuario</a>
          </li>
          <li class="nav-tool">
            <a>

            </a>

          </li>
        </ul>
      </div>

    </div>

  </div>
</nav>


<div>
  <app-map></app-map>
</div>
<div id="copyright" class="footer">Copyright&copy; 2021 - Página creada por Sebastian Carvajal - Todos los derechos reservados

